<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android_app.gg.peter.madklub" >
    <uses-permission
        android:name="android.permission.INTERNET"/>
    <uses-permission
        android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".OverlookActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dinnerclub_detail.DinnerclubDetailActivity"
            android:label="@string/title_activity_dinneclub_detail"
            android:parentActivityName=".OverlookActivity" >
        </activity>
        <activity
            android:name=".new_dinnerclub.NewDinnerclubActivity"
            android:label="@string/title_activity_new_dinnerclub"
            android:parentActivityName=".OverlookActivity">
        </activity>
        <provider
            android:name="android_app.gg.peter.madklub.db.MadklubContentProvider"
            android:authorities="android_app.gg.peter.madklub.provider"
            android:enabled="true"
            android:exported="false" >
        </provider>
        <service
            android:name="android_app.gg.peter.madklub.synchronize.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>
